.elemento {
    background-image: url('./bg.png');
    background-repeat: none;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between;

}

.elemento__texto {
   padding: 2em 0 0 2em;
   color: var(--branco);
   margin-left: 7em;
}

.elemento__texto h1 {
    font-size: 40px;
    font-weight: 500;
   
    margin-bottom: 0;
}

.elemento__texto p {
    font-size: 20px;
    font-weight: 400;
}

.elemento__botoes {
    margin-top: 1em;
}


