.tags {
    width: 65vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.tags p {
    font-size: 1.25rem;
}

.tags__lista {
    list-style: none;
    width: 380px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.tags__lista li {
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
}