.elemento {
    display: flex;
    justify-content: space-between;
    margin: 0 5em;
}

.elemento__texto {
   padding: 2em 0 0 2em;
}

.elemento__texto h1 {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 0;
}

.elemento__texto p {
    font-size: 24px;
    font-weight: 400;
}

.elemento__botoes button {
    font-size: 24px;
    font-weight: 500;
    margin: 0 1em 0 0;
    width: 250px;
    height: 70px;
    border: 2px solid #FF5A00;
    border-radius: 8px;
}

.elemento__botoes button:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.elemento__laranja {
    color: var(--branco);
    background-color: var(--laranja);
}

.elemento__branco {
    color: var(--preto);
    background-color: var(--branco);
} 