.elemento {
    display: flex;
    justify-content: space-between;
    margin: 0 4em 2em;
}

.elemento__banner {
    width: 439px;
    
}

.elemento__texto {
   padding: 2em 0 0 2em;
}

.elemento__texto h1 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 0;
}

.elemento__texto p {
    font-size: 20px;
    font-weight: 400;
}

.elemento__cards {
    display: flex;
    margin-top: 2em; 
}

.elemento__card {
    text-align: center;
    margin-right: 1.5em;
    padding: 0.5em;
    width: 120px;
    height: 120px;
    border: 1px solid var(--laranja);
    border-radius: 8px;
}

.elemento__card:hover {
    transform: scale(1.03);
    transition: 0.2s ease;
}

.elemento a {
    text-decoration: none;
    color: var(--preto);
}